<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
    <style type='text/css'>
        DIV {
        display: inline;
        width: 100px;
        margin: 7px;
        padding: 10px;
        border: 4px solid black;
        background: #fc0;
        }
    </style>
</head>
<body>
    <header>
        <a href ='/'> Home </a> / <a href ='/items'> Items </a> / <a href ='/about'> About </a>
    </header>
    <!-- <ol>
        <h2>Список товаров</h2>
        {% for item in items %}
            <li><a href="/item/{{item.id}}">{{item.name}}, {{item.brand}}, {{item.descript}}</a></li>
        {% endfor %}
    </ol> -->

    <h2>Список товаров</h2>
    {% for item in items %}
        <div><a href="/item/{{item.id}}">{{item.name}}</a></div>
    {% endfor %}
    <br>
    <br>
    <a href ='/'> Home </a>
</body>
</html>