{% extends 'base.html' %}
<!-- <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Item page</title>
</head>
<body>
    <header>
        <a href ='/'> Home </a> / <a href ='/items'> Items </a> / <a href ='/about'> About </a>
    </header> -->
{% block content %}    
    <h1>{{item.name}}</h1>
    <p>{{item.brand}}</p>
    <div>
        Количество: {{item.count | default:'Товар отсутствует на складе'}}
        <p>Описание товара: {{item.descript}}</p>
        <br><br>
            {% for color in item.colors.all %}
                <li>{{color.name}}</li>
            {% endfor %}
    </div>
    <p><a href="/items"</a> Вернуться к списку товаров </p>
{% endblock%}

<!-- </body>
</html> -->